*{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #F8F9FA;
}
header input:hover{
    border-color: rgb(41, 51, 73);
    box-shadow: 0 0 5px #415173;
}
input::placeholder {
    font-weight: 400;
    color: #293349
}
.search-wrapper {
    position:relative;
}
.search-wrapper input {
    padding-left: 35px;
}
.search-wrapper .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999999;
}

header ul li {
    font-weight: 500;
}
.nav-link:hover{
    color: #00c26d;
}

.loginbtn {
    background-color: #00c26d; 
    border: none; 
    width: 120px; 
    height: 36px; 
    padding: 6px 16px;
    font-weight: 500;
}
.loginbtn:hover {
    background-color: #02D076;
}

.first-carousel {
    background-color: #f6f8ff;
    height: 435px;
}
.carousel-line {
    background-color: #293349;
    height: 125px;
}
.carousel-inner {
    border-style: solid;
    border-width: 0px 16px 16px 0px;
    border-image-slice: 0 16 16 0;
    border-image-source: linear-gradient(-125deg, transparent 13px, #00c26d 0 calc(100% - 9px), transparent 0);
}
.crs-big {
    top: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    border: 1px solid #999999;
    border-radius: 50%;
    background-size: 50%, 50%;
    background-color: #ffffff;
    outline: #999999;
}
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: solid #00c26d;
  border-width: 0 3px 3px 0;
}
.carousel-control-prev-icon::after {
    transform: rotate(135deg);
    margin-left: 16px;
    margin-top: 14px;
}
.carousel-control-next-icon::after {
    transform: rotate(-45deg);
    margin-left: 11px;
    margin-top: 14px;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; 
  height: 100px;
}

.carousel-control-prev {
  left: 0;
  transform: translate(-50%, -50%);
}

.carousel-control-next {
  right: 0;
  transform: translate(50%, -50%);
}
.carousel-indicators {
    position: absolute;
    bottom: -50px;

}
.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    border: none;
}
.carousel-indicators button.active {
    background-color: #00c26d;
    opacity: 1;
}
.frame-img-left {
    position: absolute;
    top: 115px;
    left: 298px;
    
}

.frame-img-right {
    position: absolute;
    top: 105px;
    right: 285px;
}

.slider {
    background-color: #f0f0f0;
    height: 100px;
}
.container-slider {
    position: relative;
    display: flex;  
}
.sliderImg {
    position: relative;
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.container-slider img {
    width: 100%;
}
.events {
    background-color: #f6f6f6;
}
.container-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 10px;
}
.event-card:hover {
    border: 1px solid black;
}
.event-cards {
    display: flex;
    justify-content: space-around;
}
.card-footer {
   display: flex;
   justify-content: space-between;
}
.btn-event {
    background-color: #00c26d;
    border: none;
    padding: 5px 50px;
    font-weight: 500;
}
.btn-event:hover{
    background-color: #02D076;
}
.all-event-btn {
    background-color: #00c26d;
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
}
.all-event-btn:hover{
    background-color:#02D076
}
.span-tag{
    font-size: 13px;
    border: 1px solid black;
    background-color: #f0f0f0;
    padding: 3px 10px;
}
.why-tech{
    background-color: #ffffff;
}
.career-guide {
    background-color: #EFFFEB;
}
.comments {
    background-color: #f6f6f6;
}
.btn-apply {
    color: #00c26d;
    font-weight: 500;
}
.btn-apply a {
    color: #00c26d;
}
.btn-apply:hover {
    text-decoration: underline;
}
.contact{
    background-color: #293349;
    color: #f0f0f0;
}
.contact-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .input-container {
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  .contact-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  .contact-input::placeholder{
    color: #999999;
    font-weight: 400;
  }
  .contact-wrapper i {
    padding: 10px;
    color: #555;
    background-color: #f0f0f0;
  }
.btn-submit {
    padding: 10px 20px;
    background-color: #00c26d;
    color: #fff;
    border: none;
    cursor: pointer;
    
}
footer h6{
    color: #999999;
}
footer li {
    font-weight: 500;
}
footer li:hover {
    text-decoration: underline;
}
.social-media-icons i{
    border: 1px solid gainsboro;
    border-radius: 50%;
    padding: 6px;
    margin-left: 5px; 
}